<div style="display: flex; margin-bottom: 28px;">
  <div class="col-sm-4">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="accent">person</mat-icon>
        </div>
        <mat-card-title>Employees</mat-card-title>
      </mat-card-header>
      <h1 class="count">0</h1>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="accent">all_inbox</mat-icon>
        </div>
        <mat-card-title>Departments</mat-card-title>
      </mat-card-header>
      <h1 class="count">0</h1>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="accent">face</mat-icon>
        </div>
        <mat-card-title>Roles</mat-card-title>
      </mat-card-header>
      <h1 class="count">0</h1>
    </mat-card>
  </div>
</div>
<div style="display: flex; margin-bottom: 28px;">
  <div class="col-sm-4">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="accent">face</mat-icon>
        </div>
        <mat-card-title>Designations</mat-card-title>
      </mat-card-header>
      <h1 class="count">0</h1>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="accent">face</mat-icon>
        </div>
        <mat-card-title>Branches</mat-card-title>
      </mat-card-header>
      <h1 class="count">0</h1>
    </mat-card>
  </div>
</div>
