<div>
  <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile>
      <div class="d-flex">
        <div class="flex-grow-1">
          <p class="text-muted fw-medium">Employees</p>
          <h4 class="mb-0">0</h4>
        </div>

        <div class="flex-shrink-0 align-self-center">
          <span class="avatar-title mini-stat-icon avatar-sm rounded-circle bg-primary">
            <mat-icon>school</mat-icon>
          </span>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="d-flex">
        <div class="flex-grow-1">
          <p class="text-muted fw-medium">Roles</p>
          <h4 class="mb-0">0</h4>
        </div>

        <div class="flex-shrink-0 align-self-center">
          <span class="avatar-title mini-stat-icon avatar-sm rounded-circle bg-primary">
            <mat-icon>military_tech</mat-icon>
          </span>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="d-flex">
        <div class="flex-grow-1">
          <p class="text-muted fw-medium">Departments</p>
          <h4 class="mb-0">0</h4>
        </div>

        <div class="flex-shrink-0 align-self-center">
          <span class="avatar-title mini-stat-icon avatar-sm rounded-circle bg-primary">
            <mat-icon>workspace_premium</mat-icon>
          </span>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="d-flex">
        <div class="flex-grow-1">
          <p class="text-muted fw-medium">Designations</p>
          <h4 class="mb-0">0</h4>
        </div>

        <div class="flex-shrink-0 align-self-center">
          <span class="avatar-title mini-stat-icon avatar-sm rounded-circle bg-primary">
            <mat-icon>emoji_events</mat-icon>
          </span>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="d-flex">
        <div class="flex-grow-1">
          <p class="text-muted fw-medium">Branches</p>
          <h4 class="mb-0">0</h4>
        </div>

        <div class="flex-shrink-0 align-self-center">
          <span class="avatar-title mini-stat-icon avatar-sm rounded-circle bg-primary">
            <mat-icon>apartment</mat-icon>
          </span>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>


  <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile>
      <div class="d-flex">
        <div class="flex-grow-1">
          <p class="text-muted fw-medium">Purchase Orders</p>
          <h4 class="mb-0">0</h4>
        </div>

        <div class="flex-shrink-0 align-self-center">
          <span class="avatar-title mini-stat-icon avatar-sm rounded-circle bg-primary">
            <mat-icon>content_copy</mat-icon>
          </span>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="d-flex">
        <div class="flex-grow-1">
          <p class="text-muted fw-medium">Sales Orders</p>
          <h4 class="mb-0">0</h4>
        </div>

        <div class="flex-shrink-0 align-self-center">
          <span class="avatar-title mini-stat-icon avatar-sm rounded-circle bg-primary">
            <mat-icon>payments</mat-icon>
          </span>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="d-flex">
        <div class="flex-grow-1">
          <p class="text-muted fw-medium">Materials</p>
          <h4 class="mb-0">0</h4>
        </div>

        <div class="flex-shrink-0 align-self-center">
          <span class="avatar-title mini-stat-icon avatar-sm rounded-circle bg-primary">
            <mat-icon>construction</mat-icon>
          </span>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="d-flex">
        <div class="flex-grow-1">
          <p class="text-muted fw-medium">Vendors</p>
          <h4 class="mb-0">0</h4>
        </div>

        <div class="flex-shrink-0 align-self-center">
          <span class="avatar-title mini-stat-icon avatar-sm rounded-circle bg-primary">
            <mat-icon>engineering</mat-icon>
          </span>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="d-flex">
        <div class="flex-grow-1">
          <p class="text-muted fw-medium">Customers</p>
          <h4 class="mb-0">0</h4>
        </div>

        <div class="flex-shrink-0 align-self-center">
          <span class="avatar-title mini-stat-icon avatar-sm rounded-circle bg-primary">
            <mat-icon>group</mat-icon>
          </span>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- <div style="display: flex;">
    <div class="d-flex-fill">
      <h4 class="mb-0">Purchase orders chart</h4>
      <div id="chart">
        <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title"
      ></apx-chart>
      </div>
    </div>
    <div class="d-flex-fill">
      <h4 class="mb-0">Purchase orders chart</h4>
      <div id="chart">
        <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title"
      ></apx-chart>
      </div>
    </div>
  </div> -->
</div>
