.mat-list-item-content {
  font-size: 14px !important;
}

.mat-list-item {
  color: white;
  height: 50px !important;
  font-size: 14px;
}

.border-left {
  border-left: 4px solid white;
}

.mat-toolbar {
  background: #ff6600 !important;
  color: #ffffff !important;
  position: relative;
  z-index: 2;
}
