tr.mat-footer-row {
  font-weight: bold;
}

.mat-column-name {
  width: 50%;
}

.mat-column-unit {
  width: 10%;
}

.mat-column-price {
    width: 10%;
}

.mat-column-actions {
    width: 10%;
}

.mat-column-quantity{
    width: 10%;
}

.mat-column-value{
    width: 10%;
}

th{
    color: #ff6600;
}
