<h1>Add Role</h1>
<mat-form-field class="example-full-width">
  <mat-label>Role name</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Description</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Comments</mat-label>
  <input matInput>
</mat-form-field>
<div>
  <button mat-raised-button color="primary" class="float-right">Save</button>
  <button mat-button class="float-right">Cancel</button>
</div>
