<h1>Add Employee</h1>

<div class="text-center">
  <img src="../../../../assets/user.svg" style="width: 80px;">
  <div class="row" style="text-align: left;">
    <h4><strong>Basic details </strong></h4>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Last name</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="dp3" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Blood Group</mat-label>
        <mat-select>
          <mat-option>Select Blood group</mat-option>
          <mat-option>A+</mat-option>
          <mat-option>A -</mat-option>
          <mat-option>A Unknown</mat-option>
          <mat-option>B+</mat-option>
          <mat-option>B-</mat-option>
          <mat-option>BUnknown</mat-option>
          <mat-option>AB+</mat-option>
          <mat-option>AB-</mat-option>
          <mat-option>AB Unknown</mat-option>
          <mat-option>O+</mat-option>
          <mat-option>O-</mat-option>
          <mat-option>O Unknown</mat-option>
          <mat-option>Unknown</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Aadhar number</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>PAN Number</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Marital status</mat-label>
        <mat-select>
          <mat-option>Select marital status</mat-option>
          <mat-option>Single</mat-option>
          <mat-option>Married</mat-option>
          <mat-option>Widowed</mat-option>
          <mat-option>Separated</mat-option>
          <mat-option>Divorced</mat-option>
          <mat-option>Unknown</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row" style="text-align: left;">
    <h4><strong>Job details </strong></h4>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Package in rupees</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Date of Joining</mat-label>
        <input matInput [matDatepicker]="dp4" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
        <mat-datepicker #dp4 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Role</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Department</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Designation</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row" style="text-align: left;">
    <h4><strong>Contact details </strong></h4>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Personal email id</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Personal phone</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Official email id</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Official phone</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="row" style="text-align: left;">
    <h4><strong>Emergency Contact details </strong></h4>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Contact name</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Relationship</mat-label>
        <mat-select>
          <mat-option>Select Relationship</mat-option>
          <mat-option>Father</mat-option>
          <mat-option>Mother</mat-option>
          <mat-option>Spouse</mat-option>
          <mat-option>Brother</mat-option>
          <mat-option>Sister</mat-option>
          <mat-option>Son</mat-option>
          <mat-option>Daughter</mat-option>
          <mat-option>Father in-law</mat-option>
          <mat-option>Mother in-law</mat-option>
          <mat-option>Nephew</mat-option>
          <mat-option>Uncle</mat-option>
          <mat-option>Aunt</mat-option>
          <mat-option>Grandfather</mat-option>
          <mat-option>Grandmother</mat-option>
          <mat-option>Others</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Phone number</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row" style="text-align: left;">
    <h4><strong>Bank details </strong></h4>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Account number</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Account holder name</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>IFSC Code</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="example-full-width">
        <mat-label>Branch</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div style="text-align: right;">
    <button mat-button>
      <mat-icon>close</mat-icon>Cancel
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>save</mat-icon>Save
    </button>
  </div>
</div>
