/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23ff6600' fill-opacity='0.1' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
  max-width: 500px;
}

.text-center {
  text-align: center;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.example-container {
  height: 100%;
}

.mat-drawer-side{
  border-right: none !important;
}



mat-sidenav{
  background: #ff6600 !important;
}

.example-sidenav-content {
  margin: 14px;
}

.example-sidenav {
  width: 250px;
  user-select: none;
}

.mat-drawer-content {
  overflow: hidden !important;
}

.full-width {
  width: 100%;
}

.menu-button {
  color: white;
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  color: white;
  transform: rotate(180deg);
}

.submenu {
  font-size: 14px !important;
  transition: transform 300ms ease;
  transform-origin: top;
  padding-left: 30px;
  color: white;
}

.submenu.expanded {
  transform: scaleY(1);
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sort-header-content {
  color: #ff6600;
  font-weight: bold;
}

.float-right {
  float: right;
}

.thumbnail {
  border: none;
  border-radius: 50px;
  width: fit-content;
  padding: 12px;
  background: #ff6600;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: auto;
  display: inherit;
}

h1{
  border-left: 6px solid #ff6600;
  padding-left: 12px;
  text-decoration: none;
}

.mat-drawer-container{
  // background-color: #bcbcbc75 !important;
}

.mat-raised-button{
  color: white !important;
}