<div style="display: flex;">
  <h1>Departments</h1>
  <span class="example-spacer"></span>
  <button mat-button color="primary" (click)="addDepartment()">
    <mat-icon>add</mat-icon>Add Department
  </button>
</div>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort width="100%">

  <ng-container matColumnDef="departmentName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let row"> {{row.departmentName}} </td>
  </ng-container>

  <ng-container matColumnDef="departmentDescription">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
    <td mat-cell *matCellDef="let row"> {{row.departmentDescription}} </td>
  </ng-container>

  <ng-container matColumnDef="actons">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> Actons </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editDepartment(row)">
          <mat-icon>edit</mat-icon>Edit Department
        </button>
        <button mat-menu-item (click)="deleteDepartment(row)">
          <mat-icon>delete</mat-icon>Delete Department
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
